body{
    width: 1200px;
}
header{
    text-align: center;
}
h1.ligne{
    text-decoration: underline;
    text-decoration-style:double;
    background-color: purple;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 11em;
    margin-right: 11em;
}
ul li{
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
}
ul.col5 li{
    float: left;
    width: 20%;
    text-align: center;
}
ul.col3 li{
    float: left;
    width: 33%;
    text-align: center;
}
ul.col2 li{
    float: left;
    width: 50%;
    text-align:center;
}
